ELEVENLABS_API_KEY=
VOCODE_VOICE_STT_ENABLED=true
VOCODE_VOICE_SEGMENT_SECONDS=5
VOCODE_VOICE_VAD_THRESHOLD_MULTIPLIER=2.0
VOCODE_VOICE_VAD_START_MS=60
VOCODE_VOICE_VAD_END_MS=500
VOCODE_VOICE_VAD_PREROLL_MS=200
VOCODE_VOICE_STREAM_MIN_CHUNK_MS=200
VOCODE_VOICE_STREAM_MAX_CHUNK_MS=500
VOCODE_VOICE_STREAM_MAX_UTTERANCE_MS=4000